# Api config
NEXT_PUBLIC_PROTOCOL=protocol your api running
NEXT_PUBLIC_HOST=host your api running
NEXT_PUBLIC_PORT=port your api running
NEXT_PUBLIC_BASE_URL=path to build your api url
NEXT_PUBLIC_APPLICATION_NAME=origin name of your platform

# Api header cors
ACCESS_CONTROL_ALLOW_CREDENTIALS=all credentials that your api will accepts
ACCESS_CONTROL_ALLOW_ORIGIN=complete url to redirect your api
ACCESS_CONTROL_ALLOW_METHODS=all methods that your api will accepts
ACCESS_CONTROL_ALLOW_HEADERS=all headers configuration for your api